.center
  float: none
  margin-left: auto
  margin-right: auto
  text-align: center

.container-fluid
  padding-top: 50px

.status
  border-radius: 50%
  height: 40px
  width: 40px
  margin-bottom: 10px
  text-align: center

.row-fluid .green
  background-color: #3fb618

.row-fluid .red
  background-color: #ff0039

.row-fluid .yellow
  background-color: #E6D400