
<!-- Masthead
     ==================================================  -->
<div class="container-fluid">
  <div class="row-fluid">
 		<% branches.each do |branch, build| %>
            <div class="span4 well center">
                  <h2><%= branch %></h2>
                <div class="center status <%= build.color %>"></div>
                State: <%= build.state %>
                <br>
                Author: <%= build.commit.committer_name %>
            </div>
	  	<% end %>
  </div>
</div>